*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #fff;
  }


  .tabs {
    padding: 15px;
    text-align: center;
    width: 50%;
    /* background: rgba(128, 128, 128, 0.075); */
    cursor: pointer;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.274); */
    box-sizing: content-box;
    position: relative;
    outline: none;
    justify-content: center;
  }
  /* .tabs1:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  } */
  

  .mbody{
    padding: 10px;
    
  }



  .thead{
    background-color: #27ae60;
    color: #fff;
  }
  /* .active-tabs1  {
    background: rgb(196, 90, 90);
    border-bottom: 1px solid transparent;
  } */
  
  .active-tabs1::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: rgb(88, 147, 241);
  }
  /* button1 {
    color: #27ae60;
    border: 2px solid #27ae60; 
    /* margin: auto; */
    /* margin:2px; */
    /* cursor: pointer; */
    /* justify-content: space-between; */
    /* padding: 5px; */
    /* font-weight: 600; */
    /* border-radius: 5px; */
  /* } */ 

li{
  list-style-type: none;
  padding: 5px;
}
  button{
    color: #27ae60;
    border: 2px solid #27ae60; 
    margin:2px;
    cursor: pointer;
    background-image: none;
    padding: 5px;
    font-weight: 600;
    outline: none;
  }
  
  .content-tabs1 {
    flex-grow : 1;
  }
  .content1 {
    /* background: white; */
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }
  .content1 h2 {
    padding: 0px 0 5px 0px;
  }
  .content1 hr {
    width: 100px;
    height: 2px;
    /* background: #222; */
    margin-bottom: 5px;
  }
  .content1 p {
    width: 100%;
    height: 100%;
  }
  .active-content1 {
    display: block;
  }